<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>

	<nav class="nav">
		<a class="nav-link active" href="/"><button class=" button is-link is-hovered" type="submit">Home</button></a>
		<a class="nav-link" href="/pokemons/new"><button class=" button is-link is-hovered" type="submit">Create New Pokemon</button></a>
	</nav>

	<h1 class="heading">All The Pokemons</h1>


<div class="container">
	<% pokemon.forEach((poke, index) => { %>

	
		<div class="box "> 
		<img src="<%= poke.img %>" alt="pokemons">
		<h5><a href="/pokemons/<%= index %>"> <%= poke.name %></a> </h5>
			
			<form action="/pokemons/<%= index %>?_method=DELETE" method="POST">
				<button class="button is-link is-hovered" type="submit">Delete</button>
			</form>
			<br>
			<a href="/pokemons/<%= index %>/edit"><button class=" button is-link is-hovered" type="submit">Edit</button></a>
			
		
			</div>


	<%})%>


</div>
</body>

</html>