<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>
	<body>
        <nav class="nav">
            <a class="nav-link active" href="/"><button class=" btn btn-primary" type="submit">Home</button></a>
            <a class="nav-link" href="/pokemons"><button class=" btn btn-primary" type="submit">All Pokemons</button></a>
        </nav>


        <h1>Pokemo Page</h1>

        <br>
        <a href="/pokemons">Back</a>
        <br>
        <br>
        
        <!-- name -->
        <h5><%=`Name : ${pokemon.name} `%></h5> 
        <!-- image  -->
        <img src="<%= pokemon.img%>" style="max-width: 300px;">
        
    
        <!-- type -->
        <p>
            <% pokemon.type.forEach((type) => { %>
            <%=`Type: ${type}` %></br>
            <%})%>
        </p>

        <!-- stats  -->
        <p>
            <% for(let stat in pokemon.stats) { %>
            <%= stat %> : <%= pokemon.stats[stat] %></br>
           <% } %>
        
        </p>
    

	</body>
</html>
